<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Create Or View Test</title>
</head>

<body>
    <nav>
        <a href="../index.html"><img src="../../images/Project Logo.png" width="100px" height="75px" alt="Logo"></a>
        <a href="../index.html"><button id="home-btn">Home</button></a>
    </nav>
    <div class="test-options">
        <a href="./createTest.html"><button type="button" id="create-test">Create Test</button></a>
        <a href="./createTest.html"><button type="button" id="view-test">View/Edit Test</button></a>
    </div>
</body>
</html>
