<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Quiz App</title>
</head>
<body>
    <nav>
        <a href="http://localhost:8080/"><img src="./Project Logo.png" width="100px" height="75px" alt="Logo"></a>
        <a href="http://localhost:8080/"><button id="home-btn">Home</button></a>
    </nav>
    <header>
        <h1 class="heading">Test Maker</h1>
        <p><i>"Test your skills"</i></p>
    </header>
    <div class="home-buttons">
        <a href="http://localhost:8080/login"><button class="home-btn student-btn">Student</button></a>
        <a href="./login.html"><button class="home-btn teacher-btn">Teacher</button></a>
    </div>
    
</body>
</html>